body{
    background: rgb(2, 42, 2);
    font-family: arial;
}

.advise-container{
    padding: 10rem 25%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; */
}

.container{
    padding: 2rem;
    background: #fff;
    /* width: 30rem; */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.body{
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.6;
}

.cto{
    border: none;
    padding: 1rem;
    background: #000;
    color: #fff;
    border-radius: .8rem;
    cursor: pointer;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adviseid{
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.heading{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hr{
    border: 1px solid #b7b7b7;
    width: 10rem;
    text-align: center;
    margin: 0 10rem;
}

.error{
    text-align: center;
    margin-top: 2rem;
    color: red;
    font-size: 1.3rem;
}

.load{
    text-align: center;
    margin: 1rem 0;
}

@media (max-width: 990px){

    .advise-container{
            padding: 10rem 10%;    
        }
}


@media (max-width: 750px){
    .advise-container{
        padding: 10rem 5%;    
    }
}

@media (max-width: 550px) {

    html{
        font-size: 90%;
    }

    .advise-container{
        padding: 10rem 3%;    
    }
}